h1 {
    color: #4CAF50; /* Green */
    font-family: Arial, sans-serif;
    text-align: center;
  }
.LOGO{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;     
    height:50vh;           
    text-align: center;
  }
  img{
    width: 200px;
    margin-top: 20px;
  }